# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Little-Submarine.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Git-Workspace\_SPGames\Little-Submarine\.idea\.idea.Little-Submarine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
